
/*#region Caja Flotante*/
.caja-flotante {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.479);
    width: 75vw;
    max-width: 50%;
    margin: 3rem;
    padding: 2.5rem;
    align-items:center;
    row-gap: 8em;
    justify-content: space-evenly;
    border-radius: 20px;

}
.caja-flotante p {
    color: var(--banner-txt-clr);
    text-align: center;
    font-size: 35px;
    filter: drop-shadow(0px 2px 4px #000000);
    
}
.caja-flotante div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.boton-base {
    display: inline-block;
    box-shadow: 0px 10px 5px -1px rgba(70, 51, 38, 0.308);
}
.boton-base:hover {
    box-shadow: 0px 10px 5px -1px rgba(70, 51, 38, 0.23);
}
/*#endregion*/
/*#region Strip Registrarse*/
.strip {
    display: flex;
    padding: 20px 10%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--message-bg-clr);
    width: 100%;
    height: auto;
}
.strip p {
    font-size: large;
}
.strip-1p {
    color: #FAE267;
}
.strip-2p {
    color: var(--banner-txt-clr);
    text-align: center;
}
.strip button {
    background-color: var(--base-subtext-clr);
    color: black;
    border-radius: 60px;
    padding: 15px;
}
/*#endregion*/