.cajaMain {
    margin: 5vw;
    width: 50vw;
    border: 1px solid var(--base-clr);
    display: flex;
    border-radius: 1.25em;
}
.registro, .login {
    transition: 0.4s;
    flex-grow: 0.2;
}
.enuso {
    flex-grow: 0.8;
}
form {
    background-color: #f7af82;
    border: 1px solid var(--base-clr);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
form input {
    border: 1px solid var(--btn-text-clr);
    background-color: var(--btn-text-clr);
    border-radius: 10px;
}
form button {
    margin-top: 3vw;
    background-color: var(--base-subtext-clr);
}