
main{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*#region Caja Flotante*/
.caja-flotante {
    
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.479);
    width: 75vw;
    max-width: 50%;
    height: 28vw;
    padding: 2.5rem;
    align-items:center;
    row-gap: 3.5625rem;
    justify-content: space-evenly;
    border-radius: 1.25rem;

}
.caja-flotante p {
    font-family: 'Kaushan Script', serif;
    color: var(--banner-txt-clr);
    text-align: center;
    font-size: 3.4375rem;
    filter: drop-shadow(0px 2px 4px #000000);
    
}
.caja-flotante div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.boton-base {
    width: 8.96875rem;
    display: inline-block;
    box-shadow: 0px 10px 5px -1px rgba(70, 51, 38, 0.308);
}
.boton-base:hover {
    box-shadow: 0px 10px 5px -1px rgba(70, 51, 38, 0.23);
}
/*#endregion*/
@media only screen and (max-width: 767px) {
    main {
        padding-top: 80px;
        justify-content: start;
    }
    .caja-flotante {
        width: 90vw;
        max-width: 100%;
        height: 38vh;
        margin: 1rem 5rem;
        padding: 2.5rem 1rem;
        row-gap: 3.5625rem;
        justify-content: space-evenly;
        border-radius: 1.25rem;
    }
    .boton-base {
        padding: 0.6rem 0.1rem;
        
    }
    .caja-flotante p {
        font-size: 2.5rem;
    }
    
}