:root {
    --base-clr: #E9D7CB;
    --base-text-clr: #A74215;
    --base-subtext-clr: #ED8F36;
    --link-text-clr: #2F220E;
    --btn-clr: #322103;
    --btn-hover-clr: #3B2A13;
    --btn-text-clr: #fff;
    --bg-clr: #1e1e1e;
    --bg-secondary-clr: #d3cbb4;
    --banner-txt-clr: #FFFFFF;
    
}
body{
    background-color: var(--bg-clr);
    margin: 10px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    
}
button {
    cursor: pointer;
    color: var(--btn-text-clr);
    background-color: var(--btn-clr);
    padding: 20px;
    text-align: center;
    /* display: inline-block; */
    border-radius: 20px;
    transition-duration: 0.2s;
    /* box-shadow: 0px 10px 5px -1px rgba(70, 51, 38, 0.308); */
}
button:hover {
    background-color: var(--btn-hover-clr);
}
header {
    background-color: var(--base-clr);
    line-height: 1;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
header a {
    cursor: pointer;
    color: var(--link-text-clr);
    font-size: 1.5rem;
    text-align: center;
    font-family: cursive;
}
header a img {
    padding-top: 5px;
    padding-bottom: 0px;
    min-width: 2vw;
    max-height: 80px;
}


main {
    background-color: var(--bg-secondary-clr);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
}
