/*#region Fonts importados*/
/* Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Kausan script */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*#endregion*/
/*#region Colores*/
:root {
    --base-clr: #E9D7CB;
    --base-text-clr: #A74215;
    --base-subtext-clr: #ED8F36;
    --link-text-clr: #2F220E;
    --btn-clr: #322103;
    --btn-hover-clr: #3B2A13;
    --btn-text-clr: #fff;
    --bg-clr: #1e1e1e;
    --bg-secondary-clr: #d3cbb4;
    --banner-txt-clr: #FFFFFF;
    --message-bg-clr: #573a09b4;
}
/*#endregion*/
/*#region estructura base*/
html {
    font-family: 'Poppins';
}
body{
    background-color: var(--bg-clr);
    margin: 10px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
button {
    cursor: pointer;
    color: var(--btn-text-clr);
    background-color: var(--btn-clr);
    padding: 20px;
    text-align: center;
    /* display: inline-block; */
    border-radius: 20px;
    transition-duration: 0.2s;
    /* box-shadow: 0px 10px 5px -1px rgba(70, 51, 38, 0.308); */
}
button:hover {
    background-color: var(--btn-hover-clr);
}
/*#region Navegacion*/
header {
    background-color: var(--base-clr);
    line-height: 1;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
header a {
    cursor: pointer;
    color: var(--link-text-clr);
    font-size: 1.5rem;
    text-align: center;
    font-family: cursive;
}
header a img {
    padding-top: 5px;
    padding-bottom: 0px;
    max-height: 80px;
}
.activo {
    text-decoration: underline;
}
/*#endregion*/
/*#region Main*/
main {
    background-color: var(--bg-secondary-clr);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
}
/*#endregion*/
/*#endregion*/