/*#region Fonts importados*/
/* Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Kausan script */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*#endregion*/
/*#region Colores*/
:root {
    --base-clr: #E9D7CB;
    --base-text-clr: #A74215;
    --base-subtext-clr: #ED8F36;
    --link-text-clr: #2F220E;
    --btn-clr: #322103;
    --btn-hover-clr: #3B2A13;
    --btn-text-clr: #fff;
    --bg-clr: #1e1e1e;
    --bg-secondary-clr: #d3cbb4;
    --banner-txt-clr: #FFFFFF;
    --message-bg-clr: #573a09b4;
    --active-index-clr: #e6cab8;
}
/*#endregion*/
/*#region estructura base*/
html {
    font-family: 'Poppins';
}
body{
    background-color: var(--bg-clr);
    margin: 1% 5%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
button {
    cursor: pointer;
    color: var(--btn-text-clr);
    background-color: var(--btn-clr);
    padding: 20px;
    text-align: center;
    /* display: inline-block; */
    border-radius: 20px;
    transition-duration: 0.2s;
    /* box-shadow: 0px 10px 5px -1px rgba(70, 51, 38, 0.308); */
}
button:hover {
    background-color: var(--btn-hover-clr);
}
/*#region Navegacion*/
header {
    background-color: var(--base-clr);
    margin-bottom: 0.625rem;
    border-radius: 0.3125rem;
    display: flex;
    
    > .links {
        width: 100%;
        line-height: 1;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    
}
header .links a {
    cursor: pointer;
    color: var(--link-text-clr);
    font-size: 1.5rem;
    text-align: center;
    font-family: cursive;
    transition: 0.5s;
}
header .links a:hover {
    letter-spacing: 0.0625rem;
}

header .links a img {
    padding-top: 0.0625rem;
    padding-bottom: 0px;
    max-height: 5rem;
}
.logo-img {
    display: inline-block;
}
.logo-texto {
    display: none;
}
.activo {
    text-decoration: underline;
}
.patty {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
/*#endregion*/
/*#region Main*/
main {
    background-color: var(--bg-secondary-clr);
    background-size: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 0.3125rem;
    justify-content: space-between;
    
}

/*#region Strip Registrarse*/
.strip {
    display: flex;
    padding: 1.25rem 10%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--message-bg-clr);
    width: 100%;
    height: auto;

    /* Positioning */
    position: fixed; /* Makes the banner float over all other content */
    bottom: 0; /* Positions the banner at the bottom of the viewport */
    left: 0; /* Aligns the banner to the left edge of the viewport */
    z-index: 1000; /* Ensures the banner stays on top of other elements */

}
.strip p {
    font-size: 1.25rem;
}
.strip-1p {
    color: #FAE267;
}
.strip-2p {
    color: var(--banner-txt-clr);
    text-align: center;
}
.strip button {
    background-color: var(--base-subtext-clr);
    color: black;
    border-radius: 60px;
    padding: 0.9375rem;
}
/*#endregion*/
/*#endregion*/
/*#endregion*/

@media only screen and (max-width: 767px) {
    body {
        margin: 0 0;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1001;
    }
    header .links {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: start;
        background-color: var(--base-clr);
        left: 0;
        top: 4.75rem;
        opacity: 0%;
        pointer-events: none; /* evita interacciones*/
        transition: .3s ease-in-out;
        width: 100%;
        padding-bottom: 1px;
        gap: 0;
        > a {
            padding: 0.9375rem;
            text-align: start;
            width: 100%;
            box-shadow: inset -0.1875rem -0.8rem 0.8125rem 0.1875rem #1e1e1e11;
        }
    }
    /* clase para indice actual*/
    .activo {
        padding: 0rem;
        text-decoration: none;
        text-indent: 2rem;
        background-color: var(--active-index-clr);
    }
    /* clase para activacion de menu */
    header .links.active {
        
        pointer-events: auto; /* reactiva interaccion */
        translate: 0rem 1.5rem;
        opacity: 100%;
    }
    .patty {
        display: block;
        position: relative;
        
    }
    .iniciolink {
        order: -1;
    }
    .logo-img {
        display: none;
    }
    .logo-texto {
        display: inline-block;
    }
    

    
    button{
        padding: 1.25em;
        border-radius: 1.25em;
    }

}